body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.show {
  display: none;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
